@media (min-width: 320px) and (max-width: 480px) {

    body {
        margin-top: 2vh;
    }

    header {
        flex-direction: column;
    }

    header .block:nth-child(1n) {
        margin-left: 0;
        width: 100%;
        margin-top: 5px;
    }

    .banner {
        height: 13vh;
        margin-top: 70px;
        justify-content: center;
        align-items: center;
    }

    .articles {
        flex-direction: column;
    }

    .articles .container {
        flex-direction: column;
    }

    .articles .container .block {
        height: 14vh;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

}